<!DOCTYPE html>
<html>
<head>
  <title>CallbackRequester</title>
  <%= stylesheet_link_tag    "callback_requester/application", :media => "all" %>
  <%= javascript_include_tag "callback_requester/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
