<section class="panel callback-panel">
  <div class="callback-panel__icon-column">
    <span class="icon icon--call-us"></span>
  </div>

  <div class="callback-panel__content-column">
    <h4 class="callback-panel__title"><%= t("callback_requester.title") %></h4>
    <p>
      <%= t("callback_requester.redundancy_message") %>
    </p>

    <a href="#" class="button button--primary"><%= t('callback_requester.button') %></a>
  </div>
</section>
